.leftToRight {
    display: inline;
    color: black;
}

.list {
    text-align: center;
    padding: 5px;
    background: #FFFFE0;
}


#header {
    font-size: 2em;
    text-align: center;
    padding: 5px;
    background: #FFFFE0;
}

.button {
    background: #99C8C7;
    color: black;
    text-decoration: none;
}