
@{
    ViewData["Title"] = "О сайте";
}

<h1 align="center">О сайте</h1>
<h3 align="center">
    Сайт был создан в качестве тестового задания в компанию DNS. <br>
    Исходный код размещен на <a href="https://github.com/Vixorem/DNS_task">GitHub</a>.
</h3>
<h4 align="center">
    Виктор Шулепкин<br>
    Телеграм: vixorem
</h4>

