@model Employees.Models.Employee

@{
    ViewData["Title"] = "Новый сотрудник";
}

<style>
    div.field {
        padding-bottom: 5px;
    }

        div.field label {
            display: block;
        }
</style>


<h4 align="center">Добавить нового сотрудинка</h4>
<div>
    <div align="center">
        <form id="createForm">
            <div class="field">
                <label>Имя</label>
                <input id="name" style="width: 30%" />
            </div>
            <div class="field">
                <label>Отчество</label>
                <input id="secondname" style="width: 30%" />
            </div>
            <div class="field">
                <label>Фамилия</label>
                <input id="surname" style="width: 30%" />
            </div>
            <div class="field">
                <label>Руководитель</label>
                <select id="bossSelection"></select>
            </div>
            <div class="field">
                <label>Должность</label>
                <select id="positionSelection"></select>
            </div>
            <div class="field">
                <label>Отдел</label>
                <select id="departmentSelection"></select>
            </div>
            <div class="field">
                <label>Дата трудоустройства</label>
                <input id="recdate" type="date" style="width: 30%" />
            </div>
            <div class="field">
                <input id="create" type="submit" value="Создать" />
            </div>
        </form>
    </div>
    <a id="cancel" href="" style="text-decoration: none">Отмена</a>
</div>


