@model Employees.Models.Employee

@{
    ViewData["Title"] = "Новый сотрудник";
}

<style>
    div.field {
        padding-bottom: 5px;
    }

        div.field label {
            display: block;
            float: left;
            width: 70px;
            height: 15px;
        }
</style>


<h4 align="center">Добавить нового сотрудинка</h4>
<hr />
<div>
    <div align="center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="field">
                <label asp-for="Name"></label>
                <input asp-for="Name" style="width: 30%"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="field">
                <label asp-for="Secondname"></label>
                <input asp-for="Secondname" style="width: 30%"/>
                <span asp-validation-for="Secondname"></span>
            </div>
            <div class="field">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" style="width: 30%"/>
                <span asp-validation-for="Surname"> </span>
            </div>
            <div class="field">
                <label asp-for="BossId"></label>
                <select asp-for="BossId" asp-items="ViewBag.Boss"></select>
            </div>
            <div class="field">
                <label asp-for="PositionId"></label>
                <select asp-for="PositionId" asp-items="ViewBag.Position"></select>
            </div>
            <div class="field">
                <label asp-for="DepartmentId"></label>
                <select asp-for="DepartmentId" asp-items="ViewBag.Department"></select>
            </div>
            <div class="field">
                <input type="submit" value="Создать" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

