@model Employees.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h4 align="center">ВНИМАНИЕ! Удаление сотрудника</h4>
<div>
    <div align="center">
        <form id="deleteForm">
            <div id="info">
            </div>
            <div>
                <input id="delete" type="submit" value="Удалить" />
            </div>
        </form>
    </div>
    <a id="cancel" href="" style="text-decoration: none">Отмена</a>
</div>
